html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1F1F1F;
}

header {
  padding: 20px;
}

section {
  padding: 20px;
}
a {
  transition: 0.2s ease;
}

.logo img {
  max-width: 50px;
}


.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.nav-item li {
  text-align: center;
}

.nav-item a {
  color: #585858;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  font-style: none;
  text-align: center;

}

.nav-item a:hover {
  color: #adadad;
}